html, body {
    padding: 0px;
    margin: 0px 20px;
}

.grid {
    width: 700px;
    height: 1000px;
    display: grid;
    border: 1px dotted red;
}

.header {
    grid-template-columns: auto auto auto;
    border: 1px dotted blue;
    height: auto;
}

.hr {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}

.chocolate-pizza {
    grid-template-columns: auto auto;
    border: 1px dotted blue;
    height: auto;
}

.chocolate-pizza-img {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}

.instructions {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}

.receipe {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}

.bio-button {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}

.silverware-hr {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}

.footer {
    grid-template-columns: auto;
    border: 1px dotted blue;
    height: auto;
}