html, body {
    padding: 0px;
    margin: 0px 20px;
}

.grid {
    width: 700px;
    height: auto;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 20px 50px 515px 250px 300px 10px 30px 30px 20px 40px 20px 20px 20px;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}

.header-logo {
    flex: 50%;
}

.head-logo-text {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Yellowtail', cursive;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 5px;
    margin-top: 30px
}
.head-logo-sub-text {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 40px;

}

.head-social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.rss-image {
    margin: 5px;
}

.hr {
    background-image: url("/assets-2/hr-img.png");
    background-repeat: repeat;
    margin-top: 10px;
    width: 100%;
    height: 10px;
}

.chocolate-print-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-bottom: 15px;
}

.choco-text-sub-text {
    flex: 50%;
}

.chocolate-pizza-text {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 34px;
    margin-top: 10px;
}

.post-date {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 10px;
    color: rgb(184, 180, 180);
}

.print {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 10px;
    color: rgb(184, 180, 180);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-top:50px;
}

.chocolate-pizza-img {
    grid-template-columns: auto;
    height: auto;
    width: 700px;
}

.instructions {
    font-family: 'Times', Times, serif;
    grid-template-columns: auto;
    height: auto;
    margin: 20px;
    color: rgb(136, 136, 136);
}

p {
    text-indent: 30px;
    margin: 15px 20px;
}

.receipe {
    grid-template-columns: auto auto;
    font-family: 'Chilanka', cursive;
    height: 300px;
    background-image: url("/assets-2/list-bg.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.receipe-left {
    font-family: 'Chilanka', cursive;
    margin: 60px;
    /* display: flex;
    flex-direction: column; */
}

.receipe-right {
    margin-right: 30px;
    /* width: 200px; */
}

input {
    display: flex;
    flex-direction: column;
}

.bio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-top: 10px;
}

.van-name {
    font-size: 15px;
    color: rgb(75, 75, 75);
    margin-left: 5px;
}

.van-bio {
    font-size: 12px;
    color: rgb(136, 136, 136);
    margin-left: 5px;
    width: 375px;
}

button {
    background-color: hsla(12, 78%, 37%, 0.657);
    font-family: 'Saira Condensed', sans-serif;
    border: none;
    color: white;
    margin-left: 90px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

.silverware-hr {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 11/ span 1;
    margin-top: 45px;
    
}

.hr-left {
    width: 300px;
    grid-row: 11/ span 1;
}

.hr-right {
    width: 300px;
    grid-row: 11/ span 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 17/ span 1;
    font-size: 10px;
    color: lightgrey;
    margin-top: 30px;
}
