html, body {
    padding: 0px;
    margin: auto;
}

.grid {
    width: 700px;
    height: auto;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 55px 470px 250px 320px 50px 100px 50px 50px;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 1/ span 1;
}

.header-logo {
    flex: 50%;
    grid-row: 3/ span 1;
}

.head-logo-text {
    font-family: 'Yellowtail', cursive;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 5px;
    /* align-items: center; */
    
}
.head-logo-sub-text {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 10px;
    margin-left: 5px;
    /* align-items: center; */
    /* margin-bottom: 5px; */
}

.head-social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.rss-image {
    margin: 5px;
}

.hr {
    background-image: url(/assets-2/hr-img.png);
    background-repeat: repeat;
    margin-top: 20px;
    width: 100%;
    height: 10px;
}

.chocolate-print-row {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: baseline;
    grid-row: 3/ span 1;
    
}

.choco-text-sub-text {
    flex: 50%;
}

.chocolate-pizza-text {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.post-date {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 10px;
    color: rgb(184, 180, 180);
}

.print {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 13px;
    color: rgb(184, 180, 180);
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 3px;
}

.chocolate-pizza-img {
    grid-template-columns: auto;
    height: auto;
    width: 700px;
    margin-top: 10px;
    grid-row: 4/ span 1;
}

.instructions {
    font-family: 'Times', Times, serif;
    grid-row: 5/ span 1;
    height: auto;
    margin: 20px;
    color: rgb(136, 136, 136);
}

p {
    text-indent: 30px;
    margin: 15px 20px;
}

.receipe {
    font-family: 'Chilanka', cursive;
    height: 300px;
    background-image: url(/assets-2/list-bg.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 6/ span 1;
    grid-template-columns: 50% 50%;
}

.receipe-left {
    grid-column: 2/ span 1;
    margin: 50px;
    width: 250px;
}

.r-inline {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.receipe-right {
    grid-column: 2/ span 1;
}

input {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.bio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin-top: 10px;
    grid-row: 8/ span 1;
}

.van-name {
    font-size: 15px;
    color: rgb(75, 75, 75);
    margin-left: 5px;
}

.van-bio {
    font-size: 12px;
    color: rgb(136, 136, 136);
    margin-left: 5px;
    width: 375px;
}

button {
    background-color: hsla(12, 78%, 37%, 0.657);
    font-family: 'Saira Condensed', sans-serif;
    border: none;
    color: white;
    margin-left: 90px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

.silverware-hr {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 8/ span 1;
    margin-top: 45px;
    
}

.hr-left {
    width: 300px;
    grid-row: 8/ span 1;
}

.hr-right {
    width: 300px;
    grid-row: 8/ span 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    grid-row: 10/ span 1;
    font-size: 10px;
    color: lightgrey;
    /* margin: 30px 0px; */
}
